{% load static %}

<html>
    <head>
        <title>Etienda</title>
        <link type="text/css" rel="stylesheet" href='{% static "css/productos.css" %}'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="titulo">
            {% if user.is_authenticated %}
            <a href="{% url 'producto_nuevo' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <h1>La Etienda</h1>
        </div>
        
        <div class="pagina_general">
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>